<!-- <main class="container">
  <div *ngFor="let carta of baraja" class="row align-items-start">
    <article class="card">
      <img src={{carta.img}} alt="imagen header card" class="card-header" />
      <div class="card-body">
        <h1 class="card-body-title">
          {{carta.nombre}}
        </h1>
      </div>
    </article>
    
  </div>
</main> -->
<div class="container">
  <div class="row">
    <label class="col-6">Intentos: {{intentos}}</label>
    <button class="btn btn-primary col-4" (click)="reitentar(cartasEnMesa)">Reitentar</button>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-6 col-xs-4 col-sm-4 col-md-4 col-lg-4 " *ngFor="let carta of cartasEnMesa">
      <div *ngIf="carta.bocaAbajo == false; else bocaAbajo ">
        <div class="card">
          <div class="image">

            <img [src]="carta.img " [alt]="carta.nombre" class="card-img-top" />

          </div>

        </div>
      </div>

      <ng-template #bocaAbajo>
        <div class="card" style="background-color: darkblue;" (click)="volterar(carta)">
          <div class="image">

            <img
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/132.svg"
              [alt]="carta.nombre" class="card-img-top" style="width: 100%;
              height: 100%; background-color: darkblue;" />
          </div>

        </div>
      </ng-template>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 mt-5 container-notFound" *ngIf="baraja.length <= 0">
      <p>No results.......</p>
    </div>
  </div>

</div>