<body>
  
  <div class="form-signin container">
    <div class="text-center mb-4">
    <img class="mb-4" src="../../../../../assets/logo-Sala-De-Juegos.png" alt="" width="100" height="100">
    <h1 class="h3 mb-3 font-weight-normal">Iniciar secion</h1>
  </div>
  
  <div class="form-label-group">
    <label for="inputEmail">Email</label>
    <input type="email" [(ngModel)]="usuario.email" id="inputEmail" class="form-control" placeholder="Email address" required
    autofocus>
  </div>
  
  <div class="form-label-group">
    <label for="Password">contraseña</label>
    <input type="password" [(ngModel)]="usuario.password" id="inputPassword" class="form-control" placeholder="Password"
    required>
  </div>

  <div class="checkbox mb-3">

  </div>
  <button (click)="onLogin()" class="btn btn-lg btn-primary btn-block" type="submit">login</button>
  <div class="checkbox mb-3 text-center">
  <button class="btn btn-lg btn-secondary " (click)="completarCampos()">Llenar campos</button>
  
</div>
<div class="checkbox mb-3 text-center">
  <a href="/ingreso/registro">Registrarme</a>
</div>
<p class="mt-5 mb-3 text-muted text-center">&copy; 2020-2021</p>
</div>


</body>