


<div>
    <div class="panel panel-primary panel-chat">
        <div class="panel-heading">
            <h3>
                Chat
            </h3>
        </div>
        <div class="panel-body">
            <ul class="chat">
                <li *ngFor="let mensaje of allMensaje">
                    <div class="row" *ngIf="user$ | async as user;"
                        [ngStyle]="{'background-color': mensaje.email==user.email ? 'lime' : 'white'}">
                        <div >
                            <div class="col">{{mensaje.nombre}}: {{mensaje.texto}} </div>
                            <div class="chatFechHora col">
                                <!-- {{mensaje.fecha}} --> {{mensaje.hora}}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <input [(ngModel)]="mensaje.texto" id="Mensaje" type="text" class="form-control input-sm"
                    placeholder="Escribe un mensaje..." />
                <span class="input-group-btn">
                    <button class="btn btn-success" id="btnEnviar" (click)="enviar()">Enviar</button>
                </span>
            </div>
        </div>
    </div>
</div>