<app-navbar></app-navbar>
<router-outlet></router-outlet>






<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> --><!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#"> <img src="../assets/logo-Sala-De-Juegos.png" alt="" width="50" height="50">Sala de
    juegos</a>
  

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="ingreso/login" *ngIf="!isLogged">login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLogged">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ingreso/registro" *ngIf="!isLogged">registro</a>
      </li>
      

    </ul>

  </div>
</nav> --><!-- <li class="nav-item">
        <a class="nav-link" routerLink="ingreso/registro">registro</a>
      </li> -->