<div class="">
    <div class="row ">
        <div class="">
            <a routerLink="/juegos/tateti">
                <img alt="piedra-papel-tijeras" src="../../../assets/img/juegos/tateti.jpg" style="height: 150px; ">
            </a>
            <a routerLink="/juegos/piedra-papel-tijeras">
                <img alt="piedra-papel-tijeras" src="../../../assets/img/juegos/img.jpg" style="height: 150px;">
            </a>
            <a routerLink="/juegos/">
                <img alt="piedra-papel-tijeras" src="../../../assets/img/juegos/img.jpg" style="height: 150px;">
            </a>
            <a routerLink="/juegos/">
                <img alt="piedra-papel-tijeras" src="../../../assets/img/juegos/img.jpg" style="height: 150px;">
            </a>
        </div>

    </div>
</div>